.wrapper {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  border-bottom: 2px solid #212326;
  padding: 16px;
  height: 146px;
  box-sizing: border-box;
}

.logo {
  background-image: url('./logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px;
  background-color: #4fc514;
  width: 128px;
  height: 112px;
  border-radius: 16px;
}

.content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  margin: 16px 0;
}

.title {
  line-height: 40px;
  text-align: start;
  font-size: 24px;
}

.info {
  text-align: start;
  display: flex;
  flex-direction: row;
}

.rating {
  margin-right: 16px;
  align-items: center;
  display: flex;
  padding-top: 4px;
}

.artist {
  flex: 1 1 auto;
  color: #878789;
  font-size: 24px;
  font-weight: 100;
  line-height: 40px;
}
