.wrapper {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  border-bottom: 3px solid #212326;
}

.logo {

}

.level {

}

.content {

}

.title {

}

.info {

}

.rating {

}

.artist {

}
