.wrapper {
  flex: 1 1 auto;
}

.list::-webkit-scrollbar {
  background-color:#fff;
  width:8px
}

/* background of the scrollbar except button or resizer */
.list::-webkit-scrollbar-track {
  background-color:#fff
}

/* scrollbar itself */
.list::-webkit-scrollbar-thumb {
  background-color:#babac0;
  border-radius:8px;
  border:2px solid #fff
}

/* set button(top and bottom of the scrollbar) */
.list::-webkit-scrollbar-button {display:none}
